@import "../../../assets/variables.scss";

.card {
  background: var(--card-background-color);
  box-shadow: $box-shadow;
  border-radius: 5px;
  color: var(--text-color);
  height: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;

  &--header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    h2 {
      flex: 1;
      max-height: 55px;
      color: var(--title-text-color);
      font-size: 1.6rem;
      font-weight: 700;
    }
    p {
      flex: 1;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--text-color);
      height: 120px;
      overflow: auto;
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    height: 100%;
    i {
      font-size: 2rem;
    }

    .date {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-bottom: 8px;
    }

    .tag {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 130px;
      bottom: 10px;
      left: 0;
      padding: 0 10px;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      box-shadow: $box-shadow;
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 6px;
      right: 12px;

      i {
        font-size: 2.2rem;
        margin-right: 5px;
      }
    }
  }
}

.card-box__side {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.card-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.checkbox {
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    display: none;
  }
  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 16px;
    padding-bottom: 8px;
    cursor: pointer;
    display: inline-block;
    color: var(--text-color);
  }
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--text-color);
    background: transparent;
  }
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    content: "";
    width: 8px;
    height: 14px;
    background: transparent;
    position: absolute;
    top: 1px;
    left: 6px;
    border: solid var(--text-color);
    border-width: 0 2px 2px 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

  }
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: rotate(46deg);
    -ms-transform: rotate(46deg);
    transform: rotate(46deg);
  }
}
